@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
    #hamburger{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        font-size: 30pt;
        transition: 0.25s;
    }
    #score-page{
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #icons{
        display: flex;
        justify-content: space-between;
        margin: 3%;
    }
    #globe{
        height: 4vh;
        cursor: pointer;
    }
    .score{  
        background-color: rgb(236, 232, 232);
        border: 1px solid rgba(236, 232, 232);
        border-radius: 30px;
        height: 7vh;
        width: 70vw;
        box-shadow: 3px 3px 3px rgba(15, 15, 15, 0.151);
        margin-top: 2%;
    }
     #score-container{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
    } 
    #explanation{
       font-family: 'Baloo Thambi 2', cursive;
       font-size: 12pt;
       color: rgb(102, 102, 102);
       line-height: 17pt;
       display: flex;
    }
    #progress-container{
        margin: 12vw 12vw;
    }
    #my_score_container{
        margin: 12vw 12vw;
        text-align: center;
        justify-items: center;
    }
    .my_score{
        font-family: 'Baloo Thambi 2', cursive;
        font-size: 18pt;
        color: rgb(102, 102, 102);
        line-height: 17pt;
        margin-bottom: 40%;
    }
    .line{
        width: 75%;
        margin-top: -10%;
    }
    #progress_bar{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 15%; 
    }
    .progress{
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 30px;
        height: 3vh;
        width: 60vw;
        box-shadow: 1px 2px 9px rgba(15, 15, 15, 0.151);
        margin-top: -9%;
    }
    #topic_button{
        margin-top: 10%;
    }






    #header{
        font-family: 'Baloo Thambi 2', cursive;
        display: flex;
        font-size: 15pt;
        line-height: 15pt;
        color: rgb(102, 102, 102);
        text-align: center;
        justify-content: center;
        width: 60vw;
        }
        #choose-subcategory{
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        #header-container{
            display: flex;
            justify-content: center;
            margin-top: 13%;
        }
        .drop-down1{
            background-color: rgb(233, 230, 230);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 60vw;
            height: 7vh;
            border-bottom: none;
            cursor: pointer;
            border-radius: 30px;
            margin-top: -10%;
            
        }
        .drop-down2{
            background-color: rgb(233, 230, 230);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 60vw;
            height: 7vh;
            border-bottom: none;
            cursor: pointer;
            border-radius: 30px;
            margin-top: -5%;
            
        }
        .drop-down3{
            background-color: rgb(233, 230, 230);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 60vw;
            height: 7vh;
            border-bottom: none;
            cursor: pointer;
            border-radius: 30px;
            margin-top: -5%;
            
        }
        .drop-down4{
            background-color: rgb(233, 230, 230);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 60vw;
            height: 7vh;
            border-bottom: none;
            cursor: pointer;
            border-radius: 30px;
            margin-top: -5%;
            
        }

        .drop-down5{
            background-color: rgb(233, 230, 230);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 60vw;
            height: 7vh;
            border-bottom: none;
            cursor: pointer;
            border-radius: 30px;
            margin-top: -5%;
            
        }
        .drop-down6{
            background-color: rgb(233, 230, 230);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 60vw;
            height: 7vh;
            border-bottom: none;
            cursor: pointer;
            border-radius: 30px;
            margin-top: -5%;
            
        }
        .drop-down7{
            background-color: rgb(233, 230, 230);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 60vw;
            height: 7vh;
            border-bottom: none;
            cursor: pointer;
            border-radius: 30px;
            margin-top: -5%;
            
        }


        #topic-one{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 14pt;
            text-align: center;
            margin-left: 6%;
            color: rgb(94, 94, 94);
        }
        #topic-two{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 14pt;
            text-align: center;
            margin-left: 6%;
            color: rgb(94, 94, 94);
        }
        #topic-three{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 14pt;
            text-align: center;
            margin-left: 6%;
            color: rgb(94, 94, 94);
        }
        #topic-four{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 14pt;
            text-align: center;
            margin-left: 6%;
            color: rgb(94, 94, 94);
        }
        #topic-five{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 14pt;
            text-align: center;
            margin-left: 6%;
            color: rgb(94, 94, 94);
        }
        #topic-six{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 14pt;
            text-align: center;
            margin-left: 6%;
            color: rgb(94, 94, 94);
        }
        #topic-seven{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 14pt;
            text-align: center;
            margin-left: 6%;
            color: rgb(94, 94, 94);
        }

        #down-arrow{
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
            margin-right: 4%;
            color: rgb(94, 94, 94);
            transition: 0.3s;
        }
        #down-arrow2{
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
            margin-right: 4%;
            color: rgb(94, 94, 94);
            transition: 0.3s;
        }
        #down-arrow3{
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
            margin-right: 4%;
            color: rgb(94, 94, 94);
            transition: 0.3s;
        }
        #down-arrow4{
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
            margin-right: 4%;
            color: rgb(94, 94, 94);
            transition: 0.3s;
        }
        #down-arrow5{
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
            margin-right: 4%;
            color: rgb(94, 94, 94);
            transition: 0.3s;
        }
        #down-arrow6{
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
            margin-right: 4%;
            color: rgb(94, 94, 94);
            transition: 0.3s;
        }
        #down-arrow7{
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
            margin-right: 4%;
            color: rgb(94, 94, 94);
            transition: 0.3s;
        }

        #container{
            display: flex;
            justify-content: center;
            margin-top: 12%;
            transition: 0.5s;
        }
        #container2{
            display: flex;
            justify-content: center;
            margin-top: 8%;
            transition: 0.5s;
        }
        #button1{
                padding: 15px 45px 15px 45px;
                background-color: #46c75f;
                border-radius: 50px;
                font-family: 'Baloo Thambi 2', cursive;
                font-size: 14pt;
                color: white;
                cursor: pointer;
                position: relative;
                top: 20%;
                margin: 5% 15% 5% 15%;
    }        
        #button2{
                padding: 15px 45px 15px 45px;
                background-color: #46c75f;
                border-radius: 50px;
                font-family: 'Baloo Thambi 2', cursive;
                font-size: 14pt;
                color: white;
                cursor: pointer;
                position: relative;
                top: 20%;
                margin: 5% 15% 5% 15%;
                }        
            #button3{
                padding: 15px 45px 15px 45px;
                background-color: #46c75f;
                border-radius: 50px;
                font-family: 'Baloo Thambi 2', cursive;
                font-size: 14pt;
                color: white;
                cursor: pointer;
                position: relative;
                top: 20%;
                margin: 5% 15% 5% 15%;
                }        
            #button4{
                padding: 15px 45px 15px 45px;
                background-color: #46c75f;
                border-radius: 50px;
                font-family: 'Baloo Thambi 2', cursive;
                font-size: 14pt;
                color: white;
                cursor: pointer;
                position: relative;
                top: 20%;
                margin: 5% 15% 5% 15%;
                }        
            #button5{
                padding: 15px 45px 15px 45px;
                background-color: #46c75f;
                border-radius: 50px;
                font-family: 'Baloo Thambi 2', cursive;
                font-size: 14pt;
                color: white;
                cursor: pointer;
                position: relative;
                top: 20%;
                margin: 5% 15% 5% 15%;
                }        
            #button6{
                padding: 15px 45px 15px 45px;
                background-color: #46c75f;
                border-radius: 50px;
                font-family: 'Baloo Thambi 2', cursive;
                font-size: 14pt;
                color: white;
                cursor: pointer;
                position: relative;
                top: 20%;
                margin: 5% 15% 5% 15%;
                }        
            #button7{
                padding: 15px 45px 15px 45px;
                background-color: #46c75f;
                border-radius: 50px;
                font-family: 'Baloo Thambi 2', cursive;
                font-size: 14pt;
                color: white;
                cursor: pointer;
                position: relative;
                top: 20%;
                margin: 5% 15% 5% 15%;
                }        
            
            #Button-text{
                display: flex;
                justify-content: center;
            }
        #wildfires{
            font-family: 'Baloo Thambi 2', cursive;
            display: flex;
            font-size: 13pt;
            text-align: center;
            cursor: pointer;
        }
        #topic_one-container{
            display: block;
            display: none;
            transition: 0.5s;
        }

        #topic_two-container{
            display: block;
            display: none;
            transition: 0.5s;
        }

        #topic_three-container{
            display: block;
            display: none;
            transition: 0.5s;
        }

        #topic_four-container{
            display: block;
            display: none;
            transition: 0.5s;
        }

        #topic_five-container{
            display: block;
            display: none;
            transition: 0.5s;
        }

        #topic_six-container{
            display: block;
            display: none;
            transition: 0.5s;
        }

        #topic_seven-container{
            display: block;
            display: none;
            transition: 0.5s;
        }


        .container{
            display: block;
            position: relative;
            /* margin-left: -5%; */
            padding-left: 12%;
            /* margin-top: -5%; */
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: 'Baloo Thambi 2', cursive;
            font-size: 13pt;
        }
        .scorenum{
            padding-left: 45%;
        }
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
          .checkmark {
            position: absolute;
            /* top: 0; */
            left: 0;
            height: 24px;
            width: 24px;
            box-shadow: 0px 3px 5px #7c7c7c8f;
            background-color: white;
            border-radius: 50%;
          }
          .container input:checked ~ .checkmark {
            background-color: white;
          }
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            /* transition: 0.3s ease-in-out; */
          }
          .container input:checked ~ .checkmark:after {
            display: block;
          }
          .container .checkmark:after {
            top: 4px;
           left: 4px;
           width: 16px;
           height: 16px;
           border-radius: 50%;
           background: #46c75f;
       }
       /* end of css for radio buttons */
    #choose-subcategory{
        height: 100%;
    }
    p{
        align-content: center;
        justify-content: center;
    }

    .gw{
        font-family: 'Baloo Thambi 2', cursive;
        font-size: 18pt;
        color: rgb(102, 102, 102);
        line-height: 17pt;
        margin-bottom: 20%;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
    }

    .gwarming{
        margin-top: -10%;
    }

    .po{
        font-family: 'Baloo Thambi 2', cursive;
        font-size: 18pt;
        color: rgb(102, 102, 102);
        line-height: 17pt;
        margin-bottom: 20%;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
    }

    .pollution{
        margin-top:10%;
    }