
#card-side-right {
    position: absolute;
    right: 0px;
    top: 200px;
}
#wildfires-1 {
    width: 100%;
}

@media (max-width: 300px){
    #card-side-left {
        display: none;
    }
    #card-side-right {
        display: none;
    }
}