
#card-side-right {
    position: fixed;
    right: -10px;
    top: 200px;
}

@media (max-width: 300px){
    #card-side-left {
        display: none;
    }
    #card-side-right {
        display: none;
    }
}