#card-side-left {
    position: absolute;
    left: -10px;
    top: 200px;
}
#wildfires-3 {
    width: 100%;
}
#helpcard{
    -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

@media (max-width: 300px){
    #card-side-left {
        display: none;
    }
}