#card-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 40px;
    border: black solid 0.5px ;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
hr {
    border: rgba(112, 112, 112) 0.5px solid;
}
#next-icon {
    margin-left: 10px;
}