@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap);

    body{
        margin: 0;
        height: 100%;
        z-index: 0;
        transition: 0.4s;
    }
    #gray{
        height: 100vh;
        width: 100vw;
        z-index: 10;
        transition: 0.4s;
        position: absolute;
        top: 0;
        right:0;
    }
    #app{
        /* margin: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0; */
        min-height: 100%;
        min-width: 100vw;
    }
    #hamburger{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        font-size: 43pt;
        transition: 0.25s;
        top: 0;
        right: 0;
        position: absolute;
    }
    #menu{
        width: 65vw;
        justify-content: flex-end;
        height: 100%;
        position: fixed;
        right: -65vw;
        display: block;
        transition: 0.5s;
        background-color: white;
        top: 0;
    }
    #x-div{
        margin-top: 13%;
        margin-left: 7%;
    }
    #close{
        font-size: 30pt;
        cursor: pointer;
        display: inline-block;
    }
    #close-container{
        left:0;
        position: relative;
    }
    #menu-content{
        margin-left: 18%;
        margin-top: 15%;
        display: block;
    }
    #link-text{
       font-family: 'Baloo Thambi 2', cursive;
       font-size: 18pt;
       cursor: pointer;
    }
    #link{
        display: flex;
        align-items: center;
        margin-bottom: -10%;
    }
    #nav-icons{
        font-size: 25pt;
        height: 33.34px;
        width: 33.34px;
        margin-right: 8%;
        cursor: pointer;
    }
    #help{
        font-size: 20pt;
        margin-right: 8%;
        cursor: pointer;
    }
    #help-text{
        font-family: 'Baloo Thambi 2', cursive;
       font-size: 15pt;
       cursor: pointer;
    }
    #help-link{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        padding-bottom: 15%;
    }