@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@media (max-width: 400px){
    #hamburger{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        font-size: 30pt;
        transition: 0.25s;
    }
    #icons{
        display: flex;
        justify-content: space-between;
        margin: 3%;
    }
    #globe{
        height: 4vh;
        cursor: pointer;
    }
    #score{
        background-color: white;
        border: 1px solid rgba(122, 122, 122, 0.199);
        border-radius: 20px;
        height: 7vh;
        width: 70vw;
        box-shadow: 3px 3px 5px rgba(110, 110, 110, 0.151);
    }
    #score-container{
        display: flex;
        justify-content: center;
        margin-top: 15%;
    }
    #explanation1{
       font-family: 'Baloo Thambi 2', cursive;
       font-size: 12pt;
       color: rgb(102, 102, 102);
       line-height: 17pt;
       text-align: center;
       display: flex;
       justify-content: center;
       margin-top: 40%;
    }
    #explanation2{
        font-family: 'Baloo Thambi 2', cursive;
       font-size: 12pt;
       color: rgb(102, 102, 102);
       line-height: 17pt;
       text-align: center;
       display: flex;
       justify-content: center;
       margin-top: 40%;
       display: none;
    }
    #explanation3{
        font-family: 'Baloo Thambi 2', cursive;
        font-size: 12pt;
        color: rgb(102, 102, 102);
        line-height: 17pt;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 40%;
        display: none;
    }
    #explanation-container{
        margin: 12vw 12vw;
    }
    #start{
        display: none;
        justify-content: center;
    }
}