@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@media (max-width: 400px){
    #hamburger{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        font-size: 30pt;
        transition: 0.25s;
    }
    #icons{
        display: flex;
        justify-content: space-between;
        margin: 3%;
    }
    #globe{
        height: 4vh;
        cursor: pointer;
    }
    .score{  
        background-color: rgb(236, 232, 232);
        border: 1px solid rgba(236, 232, 232);
        border-radius: 30px;
        height: 7vh;
        width: 70vw;
        box-shadow: 3px 3px 3px rgba(15, 15, 15, 0.151);
        margin-top: 2%;
    }
    #score-container{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
    }
    #explanation{
       font-family: 'Baloo Thambi 2', cursive;
       font-size: 12pt;
       color: rgb(102, 102, 102);
       line-height: 17pt;
       display: flex;
    }
    #explanation-container{
        margin: 12vw 12vw;
    }
    #my_score{
        font-family: 'Baloo Thambi 2', cursive;
        font-size: 12pt;
        color: rgb(102, 102, 1o);
    }
    #start{
        display: none;
        justify-content: center;
    }
}