@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap);

.drop-button{
    padding: 5px 60px 5px 60px;
    background-color: #e0e0e0;
    border-radius: 30px;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 13pt;
    color: rgb(99, 98, 98);
    cursor: pointer;
    margin-top: 10%;
    position: relative;
    bottom: 25px;
}
.text{
    display: flex;
    justify-content: center;
}
