@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap);

    body{
        margin: 0;
    }
    #home-page{
        height: 100%;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
   #hamburger{
       display: flex;
       justify-content: flex-end;
       cursor: pointer;
       font-size: 30pt;
   }
   #logo{
       margin: auto;
   }
   .intro-text{
    font-family: 'Baloo Thambi 2', cursive;
    display: flex;
    font-size: 15pt;
    line-height: 22pt;
   }
   #content{
       margin: 10%;
   }
   #get-started{
       display: flex;
       justify-content: center;
       margin-top: 40%;
   }
   .green-button{
       padding: 20px 60px 20px 60px;
       background-color: #46c75f;
       border-radius: 50px;
       font-family: 'Baloo Thambi 2', cursive;
       font-size: 18pt;
       color: white;
       box-shadow: 3px 3px 5px #6d6d6d8e;
       cursor: pointer;
       position: fixed;
       bottom: 25px;
   }
